<!DOCTYPE html>
<html lang="en">
<head>
    <title>Google Homepage Mimic</title>
    <link rel="stylesheet" href="../static/css/reset.css" media="screen" >
    <link rel="stylesheet" href="../static/css/main.css" media="screen" >
</head>
<body>
<header>
    <nav class="top">
      <ul>
        <li><a href="#">Gmail</a></li>
        <li><a href="#">Images</a></li>
        <li id="squares"><a href="#"><img src="../static/img/grid.png" alt="applications"></a></li>
        <li id="btn"><a href="#"><em>Sign in</em></a></li>
      </ul>
    </nav>
  </header>

  <section>
    <img src="../static/img/google-new-logo.png" alt="Google's Logo">

    <div class="search">
      <form class="" action="#" method="GET" name="search">
      </form>
      <div id="mic_holder">
        <img src="../static/img/mic.png">
      </div>
    </div>
  </section>
</body>
</html>